.communities {
    position:fixed;
    background-color:var(--light);
    height:100%;
    width:100%;
    z-index:1;
}
.communitiesDarkOverlay{
    display:flex;
    position:fixed;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:2;
}
.communitiesBox{
    display:flex;
    flex-direction:column;
    background-color:var(--green);
    border:3px solid var(--green);
    border-radius:var(--radius);
    overflow:hidden;
    position: relative;
    top: -150px;
    justify-content:center;
    align-items:center;
    max-width:600px;
}
.communitiesTop{
    background-color:transparent;
    padding:5px 0px;
    color:var(--white);
    margin:0px;
}
.communitiesBottom{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    background-color:var(--light);
    color:var(--green);
    border-radius:var(--radius);
    font-size:calc(var(--font) + 5px);
    padding:20px 20px;
}
.communitiesGoToSub{
    background-color:var(--green);
    border-radius:var(--radius);
    border:none;
    color:var(--white);
    font-size:calc(var(--font) + 5px);
    width:80%;
    cursor:pointer;
    padding:5px 0px;
    margin:10px 0px;
}
.communitiesGoToSub:hover{
    background-color:var(--lightGreen);
}