* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  :root {
    --green: rgb(44, 155, 58);
    --lightGreen: #f2fff4;
    --white: white;
    --light: #f9f9f9;
    --darker: rgb(73, 73, 73);
    --dark: rgb(175, 175, 175);
    --height: 8px;
    --font:15px;
    --iconFont:20px;
    --transition-a: 0.3s;
  }
  body {
    background: var(--white);
  }
  a {
    text-decoration: none;
    color: var(--darker);
  }
  li {
    list-style: none;
  }
  a,
  .header,
  .navigation,
  .menu,
  .search-box,
  .search-bar {
    display: flex;
    flex-direction: row;
  }