.footer{
    width:100%;
    display:flex;
    flex-direction:column;
}

/*-----------------------------------------------FOOTER-TOP--------------------------------------------*/
.footerTop{
    background-color:var(--white);
    display:flex;
    flex-direction:column;
    box-shadow:var(--boxShadow);
}
.footerNavBox{
    padding:10px 10px;
}
.footerNav{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.footerNav li{
    margin:0px 20px;
    cursor:pointer;
    padding:10px 10px;
    font-size:calc(var(--font) + 2px);
    position:relative;
}
.footerNav li i{
    color:var(--green);
    margin-right:var(--iconDistance);
}
.footerNav li::after{
    width:100%;
    background-color: var(--green);
    height: 3px;
    content: "";
    position: absolute;
    border-radius: var(--radius);
    bottom: 0px;
    left: 0px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.footerNav li:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/*-----------------------------------------------FOOTER-BOTTOM--------------------------------------------*/
.footerBottom{
    background-color:var(--green);
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--white);
    padding:15px 0px;
    font-size:var(--font);
}
.footerBottom .fa-copyright{
    margin-right:var(--iconDistance);
}

/*-----------------------------------------------RESPONSIVE--------------------------------------------*/
@media(max-width:780px){
    .footerNav{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
        justify-items: center;
    }
}
@media(max-width:600px){
    .footerNav{
        grid-template-columns: repeat(2 , 1fr);
    }
}