  /*-------------------HEADER------------------*/
.header {
    margin: 0px 200px;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  /*-------------------LOGO------------------*/
  .logo {
    width: 120px;
    margin: 0 30px;
  }
  /*-------------------SEARCH-BAR------------------*/
  .search-box {
    width: max-content;
    align-items: center;
    border-radius: 30px;
    background: var(--white);
    border: 2px solid var(--green);
    padding: 10px 20px;
    cursor: text;
    width: 100%;
    margin: 0;
  }
  .search-bar {
    outline: none;
    background: transparent;
    border: none;
    flex: 1;
    margin-left: 15px;
    width: 350px;
  }
  .search-bar,
  .fa-magnifying-glass {
    font-size: var(--font);
    color: var(--darker);
  }
  .search-bar::placeholder {
    color: var(--darker);
  }
  .search-bar:focus::placeholder {
    transition: var(--transition-a);
    color: transparent;
  }
  .search-box i{
    font-size:var(--iconFont);
    color:var(--green)
  }
  .search-box i:hover{
    cursor:pointer;
    background-color:var(--dark);;
  }
  .search-box.expanded{
    display:absolute;
    padding-bottom:100px;
  }
  /*-------------------FAV-CART-LOG------------------*/
  .favorites,
  .cart,
  .login {
    position: relative;
    font-size:var(--font);
    border-radius: 30px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .login a,
  .favorites a,
  .cart a {
    display: flex;
    align-items: center;
  }
  .login i,
  .favorites i,
  .cart i {
    font-size: var(--iconFont);
    margin-right: 8px;
  }
  .favorites:hover,
  .cart:hover,
  .login:hover {
    cursor: pointer;
  }
  .fa-cart-shopping,
  .fa-user,
  .fa-heart {
    color: var(--green);
  }
  .cart a::after,
  .favorites a::after,
  .login a::after {
    width: 75%;
    background: var(--green);
    height: 3px;
    content: "";
    position: absolute;
    border-radius: 15px;
    bottom: 0px;
    left: 17px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform.3s;
  }
  .cart a:hover::after,
  .favorites a:hover::after,
  .login a:hover::after,
  .cart a.clicked::after,
  .favorites a.clicked::after,
  .login a.clicked::after {
    transform: scaleX(1);
    transform-origin: left;
  }